POSTGRES_DB=geoterracakra
POSTGRES_USER=geoterracakra
POSTGRES_PASS=geoterracakra
POSTGRES_PORT=5432
REDIS_PORT=6379
MARTIN_PORT=3001
DATABASE_URL=postgresql://geoterracakra:geoterracakra@localhost:5432/geoterracakra
PORT=3000
WEB_ORIGIN=http://localhost:5173
MAPID_API_KEY=
EARTHENGINE_PROJECT=ai-geoinformatics
